@charset "UTF-8";

.regi_container {
/* 	margin: 0 412px; */
}
.regi_title {
	font-size: 24px;
	font-weight: bold;
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.image-box {
   width: 200px;
   height: 200px;
   object-fit: cover;
   display: block;
 }

.upload-btn {
   border: 1px solid #ddd;
   padding: 6px 12px;
   display: inline-block;
   cursor: pointer;
}

input[type=file] {
  display: none;
} 