@charset "UTF-8";

.regi_container {
	width: 1000px;
}

.title {
	margin-top: 50px;
	margin-bottom: 30px;
	border-bottom: 2px solid;
	padding-bottom: 20px;
	font-size: 32px;
	font-weight: bold;
}

#frm > table {
	width: 100%;
}

#frm > table > tbody > tr > th {
	text-align: right;
}

#frm > table > tbody > tr > th > label {
	margin-right: 10px;
	margin-bottom: 15px;
}

#frm > table > tbody > tr:nth-child(6) > th > label {
	margin-top: 15px;	
}

#start, #end {
	width: 200px;
	display: inline-block;
}

#price {
	width: 200px;
	display: inline-block;
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.image-box {
   width: 200px;
   height: 200px;
   object-fit: cover;
   display: block;
 }

.upload-btn {
   border: 1px solid #ddd;
   padding: 6px 12px;
   display: inline-block;
   cursor: pointer;
}

input[type=file] {
  display: none;
}

#frm > table > tbody > tr:nth-child(6) > td {
	display: flex;
}

#frm > table > tbody > tr:nth-child(6) > td > div:nth-child(1) {
	margin-right: 10px;
}

#frm > table > tbody > tr:nth-child(6) > td > div:nth-child(2) {
	display: flex;
}

#frm > table > tbody > tr:nth-child(6) > td > div:nth-child(2) > button {
	height: 25px;
}

#btn_wrap {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

#btn_wrap > button {
	background: lightgray;
	font-size: 18px;
	width: 200px;
	height: 60px;
}

#btn_wrap > button:hover {
	background: gray;
	color: white;
}

#regiBtn {
	margin-left: 30px;
}