@charset "UTF-8";

body {
	margin: 0;
}

header {
	position : relative;
}

#header_logo {
	margin: auto;
    display: block;
}
  
#lnb_wrap {
  list-style:none;
  margin:0;
  position: absolute;
  top: 36px;
  right : 72px;
}

#lnb_wrap > li {
  float:left;
}

#lnb_wrap > li:not(:last-child) {
  margin-right: 26px;
}

#lnb_wrap > li > a {
  text-decoration: none; 
  outline: none;
  color: #474747; 
}