@charset "UTF-8";

#page_title {
	text-align: center;
}

.container {
	max-width: 500px;
}

.container > form > div {
	margin-bottom: 2rem!important;
}

label{
	margin-bottom: 10px;
}

input {
	border-color: black!important;
	border-radius: 10px!important;
}

#main_contents > main > div > form > div:nth-child(7) > button {
	width: 100%;
	background: lightgray;
	border: none;
	color: black;
}

#main_contents > main > div > form > div:nth-child(7) > button:hover {
	background: gray;
	color: white;
}