@charset "UTF-8";

a {
	color : #495057;
}

#main_contents > div > h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 50px 0;
}


#main_contents_wrap > form > table > tbody > tr > td:nth-child(2) > a, #main_contents_wrap > form > table > tbody > tr > td:nth-child(2) > a:hover {
	text-decoration: none;
	color: black;
}

#main_contents_wrap {
	width: 1000px;
	margin: 100px 0 100px 0;
}

#main_contents_wrap > form > table {
	width: 600px;
	margin-bottom: 50px;
}

#id, #pwd {
	margin-bottom: 15px;
}

#main_contents_wrap > form > table > tbody > tr > td:nth-child(2) {
	padding-left: 15px;
}

#main_contents_wrap > form > table > tbody > tr:nth-child(4) > td {
	padding-top: 30px;
}

.email_box, .pwd_box {
	position: relative;
}

.forget_email, .forget_pwd {
	position: absolute;
	top: 9px;
	right: 12px;
}

.regi {
	float:right;
}

.light_gray_btn {
    border: none;
    background: lightgray;
    color: black;
    font-size: 20px;
    width: 100%;
    height: 50px;
}

.light_gray_btn:hover {
	background: gray;
	color: white;
}